@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --font--site: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: black;
    height: 90px;
    width: 100%;
    box-shadow: 2px 2px 12px rgba(66, 64, 64, 0.075);
    position: fixed;
}

.logo {
    width: 100px;
    position: relative;
    margin-left: 170px;
}

.navbar__itens {
    display: grid;
    float: right;
    text-decoration: none;
    position: relative;
    margin-right: 200px;
    top: 30px;
    grid-template-columns: repeat(5, 150px);
}

.navbar__item >a {
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--font--site);
}

.navbar__item >a:hover {
    transition: all 0.3s;
    font-weight: 700;
}

.main {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    position: fixed;
    filter: brightness(0.6);
    width: 100%;
}

.central__itens {
    position: relative;
    font-size: 22px;
    text-transform: uppercase;
    font-family: var(--font--site);
    color: #ffff;
    height: 80px;
    top: 400px;
    margin-left: 32%;
}

.last__itens {
    position: relative;
    top: 45%;
    text-align: center;
    color: #ffff;
}

.last__itens>h1 {
    font-size: 50px;
    font-family: var(--font--site);
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    top: 450px;
}

.last__itens>a {
    position: relative;
    top: 520px;
    text-decoration: none;
    color: #ffff;
    font-size: 22px;
    text-transform: uppercase;
    font-family: var(--font--site);
    background-color: #000;
    padding: 20px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 2px 2px 12px #11111152;
    transition: all 0.7s;
    left: -10px;
}

.last__itens>a:hover {
    color: #000;
    background-color: #ffffff;
}


.bi-list {
    visibility: hidden;
    display: none;
    width: 0;
}
@media screen and (max-width: 1440px) {
    .central__itens {
        position: relative;
        font-size: 22px;
        text-transform: uppercase;
        font-family: var(--font--site);
        color: #ffff;
        height: 80px;
        top: 400px;
        margin-left: 26%;
    }
}

@media screen and (max-width: 770px) {
    .central__itens {
        position: relative;
        font-size: 22px;
        text-transform: uppercase;
        font-family: var(--font--site);
        color: #ffff;
        height: 80px;
        top: 300px;
        margin-left: 32%;
    }

    .logo {
        width: 100px;
        position: relative;
        margin-left: 50px;
    }

    .navbar__itens {
        display: grid;
        float: right;
        text-decoration: none;
        position: relative;
        top: 30px;
        grid-template-columns: repeat(5, 100px);
        margin-right: 10px;
    }

    .navbar__item>a {
        text-decoration: none;
        color: #ffff;
        font-size: 15px;
        text-transform: uppercase;
        font-family: var(--font--site);
    }

    .typed-strings {
        position: relative;
        top: 400px;
        margin-left: 10%;
        font-size: 30px;
    }

    .last__itens>h1 {
        font-size: 40px;
        font-family: var(--font--site);
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        top: 300px;
    }

    .last__itens>a {
        font-size: 15px;
        position: relative;
        top: 400px;
    }
}

@media screen and (max-width: 400px) {

    .logo {
        width: 0px;
        display: none;
    }

    .last__itens>a {
        font-size: 15px;
    }

    .last__itens>h1 {
        font-size: 30px;
    }

    .typed-strings {
        position: relative;
        top: -120px;
        margin-left: 10%;
        font-size: 25px;
        margin-left: -50px;
    }

    .navbar__itens {
        visibility: hidden;
    }

    .navbar__itens__resp {
        display: grid;
        text-decoration: none;
        row-gap: 30px;
        grid-template-columns: repeat(1, 50px);
        z-index: 3;
        position: fixed;
        float: left;
        margin-left: 25px;
        top: 95px;
        visibility: visible;
        z-index: 22222;

    }

    .navbar__itens__resp:hover {
        font-weight: bold;
        transition: all 0.7s;
    }

    .nav {
        visibility: hidden;
    }

    .nav__resp {
        background-color: black;
        height: 100vh;
        width: 45%;
        box-shadow: 2px 2px 12px rgba(66, 64, 64, 0.075);
        position: fixed;
        z-index: 323;
        visibility: visible;
    }

    .bi-list {
        color: #ffff;
        font-size: 52px;
        position: fixed;
        z-index: 2222;
        visibility: visible;
        display: block;
    }
}

@media screen and (max-width: 370px) {

    .central__itens {
        position: relative;
        font-size: 22px;
        text-transform: uppercase;
        font-family: var(--font--site);
        color: #ffff;
        height: 80px;
        top: 300px;
        margin-left: 30%;
    }

    .last__itens>a {
        font-size: 15px;
        position: relative;
        top: 300px;
    }

    .last__itens>h1 {
        font-size: 30px;
        position: relative;
        top: 250px;
    } 
} 